@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Red Rose', sans-serif;
}

.btn{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
}

.wallet--font{
  font-family: 'Sora', sans-serif;
}

@media(min-width: 1440px){
  .modal{
    margin-right: 400px;
    margin-left: 400px;
  }
}