@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Red Rose', cursive;
}

.btn{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
}